<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @*<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />*@
    @SquishIt.Framework.Bundle.JavaScript().MvcRenderCachedAssetTag("main")

    @(Bundle.Css().Add("~/Content/Site.css")
                .ProcessImports()
                .ForceRelease()
                .RenderMvc("~/Content/combined_extra_#.css"))

</head>

<body>
    <script type="text/javascript">
        $(function () { $("body").append("Hello World"); });
    </script>
    @RenderBody()
</body>
</html>
